version: '3.8'

services:
  # ----------------------------------------
  # 1. Головний вузол (Leader)
  # ----------------------------------------
  node-leader:
    build:
      context: .
      dockerfile: Dockerfile
    image: ucu-ds-pract:latest
    container_name: node-leader
    ports:
      # Прокидаємо порт на хост для зовнішніх REST-запитів
      - "8081:8080"
    environment:
      # Змінна середовища, яка передає режим роботи (ЛИШЕ ЦЕЙ ВУЗОЛ БУДЕ ЛІДЕРОМ)
      NODE_ROLE: LEADER
      # Список вузлів для самоідентифікації та спілкування
      NODE_ID: node-leader
      # Порт для спілкування
      PORT: 8080
      # Адреси інших вузлів (використовуйте імена сервісів Docker Compose)
      PEER_NODES: "node-follower-1,node-follower-2"
    networks:
      - distributed-net

  # ----------------------------------------
  # 2. Вузол-послідовник 1 (Follower)
  # ----------------------------------------
  node-follower-1:
    image: ucu-ds-pract:latest
    container_name: node-follower-1
    depends_on:
      - node-leader
    ports:
      - "8082:8080"
    environment:
      NODE_ROLE: FOLLOWER
      NODE_ID: node-follower-1
      PORT: 8080
      PEER_NODES: "node-leader,node-follower-2"
      NODE_DELAY_SEC: 5
    networks:
      - distributed-net

  # ----------------------------------------
  # 3. Вузол-послідовник 2 (Follower)
  # ----------------------------------------
  node-follower-2:
    image: ucu-ds-pract:latest
    container_name: node-follower-2
    depends_on:
      - node-leader
    ports:
      - "8083:8080"
    environment:
      NODE_ROLE: FOLLOWER
      NODE_ID: node-follower-2
      PORT: 8080
      PEER_NODES: "node-leader,node-follower-1"
      NODE_DELAY_SEC: 10
    networks:
      - distributed-net

networks:
  distributed-net:
    driver: bridge